---
# tasks file for aws-terminate
- setup:

- name: Load EC2 instance ids
  ec2_facts:

- name: Terminate AMI instances
  register: ec2
  ec2:
    state: absent
    instance_ids: '{{ ansible_ec2_instance_id }}'
    aws_access_key: '{{ aws_access_key_id }}'
    aws_secret_key: '{{ aws_secret_access_key }}'
    aws_region: '{{ aws_region }}'

- name: Terminate AMI instances status report
  debug:
    var: ec2
